[submodule "Two-Dimensional-Time-To-Collision"]
	path = Two-Dimensional-Time-To-Collision
	url = https://github.com/Yiru-Jiao/Two-Dimensional-Time-To-Collision.git
	ignore = dirty
[submodule "sort"]
	path = sort
	url = https://github.com/abewley/sort.git
	ignore = dirty
